In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('iris.csv')
df.head()

,sepallength(cm),sepalwidth(cm),petallength(cm),petalwidth(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [5]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [7]:
X= df.iloc[:,:-1]
X.head()

   sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
0              5.1             3.5              1.4             0.2
1              4.9             3.0              1.4             0.2
2              4.7             3.2              1.3             0.2
3              4.6             3.1              1.5             0.2
4              5.0             3.6              1.4             0.2

In [8]:
y = df['class']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [9]:
df.shape

(150, 5)

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state =10)

## 1.Logistic Regression

In [27]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()

In [28]:
model1.fit(x_train,y_train)

2023-05-02 14:21:14,452 [3388] WARNING  py.warnings:109: [JupyterRequire] C:\Users\Saumya\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
model1_pred = model1.predict(x_test)
model1_pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor'], dtype=object)

In [30]:
y_test

87     Iris-versicolor
111     Iris-virginica
10         Iris-setosa
91     Iris-versicolor
49         Iris-setosa
60     Iris-versicolor
72     Iris-versicolor
67     Iris-versicolor
39         Iris-setosa
55     Iris-versicolor
66     Iris-versicolor
142     Iris-virginica
53     Iris-versicolor
1          Iris-setosa
19         Iris-setosa
112     Iris-virginica
85     Iris-versicolor
38         Iris-setosa
21         Iris-setosa
35         Iris-setosa
102     Iris-virginica
132     Iris-virginica
126     Iris-virginica
24         Iris-setosa
61     Iris-versicolor
2          Iris-setosa
95     Iris-versicolor
90     Iris-versicolor
76     Iris-versicolor
117     Iris-virginica
58     Iris-versicolor
97     Iris-versicolor
129     Iris-virginica
114     Iris-virginica
146     Iris-virginica
47         Iris-setosa
124     Iris-virginica
120     Iris-virginica
118     Iris-virginica
141     Iris-virginica
26         Iris-setosa
43         Iris-setosa
59     Iris-versicolor
41         Iris-setosa
56     Iris-versicolor
Name: class, dtype: object

In [31]:
LR=pd.DataFrame({'actual_value':y_test,'predicted_value':model1_pred})
LR

        actual_value  predicted_value
87   Iris-versicolor  Iris-versicolor
111   Iris-virginica   Iris-virginica
10       Iris-setosa      Iris-setosa
91   Iris-versicolor  Iris-versicolor
49       Iris-setosa      Iris-setosa
60   Iris-versicolor  Iris-versicolor
72   Iris-versicolor  Iris-versicolor
67   Iris-versicolor  Iris-versicolor
39       Iris-setosa      Iris-setosa
55   Iris-versicolor  Iris-versicolor
66   Iris-versicolor  Iris-versicolor
142   Iris-virginica   Iris-virginica
53   Iris-versicolor  Iris-versicolor
1        Iris-setosa      Iris-setosa
19       Iris-setosa      Iris-setosa
112   Iris-virginica   Iris-virginica
85   Iris-versicolor  Iris-versicolor
38       Iris-setosa      Iris-setosa
21       Iris-setosa      Iris-setosa
35       Iris-setosa      Iris-setosa
102   Iris-virginica   Iris-virginica
132   Iris-virginica   Iris-virginica
126   Iris-virginica   Iris-virginica
24       Iris-setosa      Iris-setosa
61   Iris-versicolor  Iris-versicolor
2        Iris-setosa      Iris-setosa
95   Iris-versicolor  Iris-versicolor
90   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor
117   Iris-virginica   Iris-virginica
58   Iris-versicolor  Iris-versicolor
97   Iris-versicolor  Iris-versicolor
129   Iris-virginica   Iris-virginica
114   Iris-virginica   Iris-virginica
146   Iris-virginica   Iris-virginica
47       Iris-setosa      Iris-setosa
124   Iris-virginica   Iris-virginica
120   Iris-virginica   Iris-virginica
118   Iris-virginica   Iris-virginica
141   Iris-virginica   Iris-virginica
26       Iris-setosa      Iris-setosa
43       Iris-setosa      Iris-setosa
59   Iris-versicolor  Iris-versicolor
41       Iris-setosa      Iris-setosa
56   Iris-versicolor  Iris-versicolor

## Evaluate LR Model

In [32]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [33]:
accuracy_score(y_test,model1_pred)

1.0

In [34]:
pd.crosstab(y_test,model1_pred)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa               14                0               0
Iris-versicolor            0               17               0
Iris-virginica             0                0              14

In [35]:
confusion_matrix(y_test,model1_pred)

array([[14,  0,  0],
       [ 0, 17,  0],
       [ 0,  0, 14]], dtype=int64)

In [36]:
 print(classification_report(y_test,model1_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        14
Iris-versicolor       1.00      1.00      1.00        17
 Iris-virginica       1.00      1.00      1.00        14

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

## 2.Random Forest classifier

In [38]:
from sklearn.ensemble import RandomForestClassifier
model2 =RandomForestClassifier()

In [39]:
model2.fit(x_train,y_train)

RandomForestClassifier()

In [41]:
model2_pred = model2.predict(x_test)
model2_pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor'], dtype=object)

## Evaluate Random Forest Model

In [43]:
accuracy_score(y_test,model2_pred)

0.9777777777777777

In [44]:
pd.crosstab(y_test,model2_pred)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa               14                0               0
Iris-versicolor            0               16               1
Iris-virginica             0                0              14

In [45]:
 print(classification_report(y_test,model2_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        14
Iris-versicolor       1.00      0.94      0.97        17
 Iris-virginica       0.93      1.00      0.97        14

       accuracy                           0.98        45
      macro avg       0.98      0.98      0.98        45
   weighted avg       0.98      0.98      0.98        45

In [46]:
14/(1+14)  # precision

0.9333333333333333

In [47]:
16/(1+16)  # Recall

0.9411764705882353

In [ ]:
# F1score 

 2*precision*recall/(precision+recall)

In [48]:
2*1*0.94/(1+0.94)

0.9690721649484536

## Decision Tree Classifier

In [49]:
from sklearn.tree import DecisionTreeClassifier
model3 =DecisionTreeClassifier()

In [50]:
model3.fit(x_train,y_train)

DecisionTreeClassifier()

In [52]:
model3_pred=model3.predict(x_test)
model3_pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor'], dtype=object)

## Evaluate DecisionTreeClassifier Model

In [53]:
accuracy_score(y_test,model3_pred)

0.9777777777777777

In [54]:
pd.crosstab(y_test,model3_pred)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa               14                0               0
Iris-versicolor            0               17               0
Iris-virginica             0                1              13

In [55]:
 print(classification_report(y_test,model3_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        14
Iris-versicolor       0.94      1.00      0.97        17
 Iris-virginica       1.00      0.93      0.96        14

       accuracy                           0.98        45
      macro avg       0.98      0.98      0.98        45
   weighted avg       0.98      0.98      0.98        45

## saving model

In [57]:
import joblib
joblib.dump(model1,'iris.pkl')

['iris.pkl']